workflows/llm_worfflows.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -880,
        16
      ],
      "id": "b5f80fa8-b877-4b62-9696-9a9d749d2228",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are gonna go trhough the following links: https://www.stat4decision.com/fr/feed/\nhttps://blog.octo.com/feed/\nhttps://medium.com/feed/tag/data-engineering\nhttps://practicaldataengineering.substack.com/feed\nhttps://towardsdatascience.com/feed\nIn these links you are gonna observe just the publication dates and from there you are going to calculate if the time of publication is less than 24h from the time you are being executed. If that is the case, you are gonna return ONLY valid JSON in this format:\n{\n \"title\": \"string\",\n \"link\": \"string\",\n \"abstract\": \"string\"\n}\nDO NOT return explanationsn code or something that is not the json format that was asked to you.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -640,
        -48
      ],
      "id": "4f5b0c08-9a1d-4daf-ac0d-fdfac12bca20",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -592,
        96
      ],
      "id": "d951eb0a-10ea-4c15-be0d-df947b300b98",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "nZKWIXN1WnlzfdMA",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=",
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "={{ $json.contentSnippet }}",
              "timestamp": "=",
              "title": "={{ $json.title }}",
              "url": "={{ $json.link }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -64,
        -48
      ],
      "id": "0acc93cf-2a83-4c20-a065-54a502608398",
      "name": "Discord1",
      "webhookId": "21ac9a67-d7fa-4e07-a75c-4ea0f9b5b5e5",
      "credentials": {
        "discordWebhookApi": {
          "id": "MyS87qp6BitEnlKe",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.output;\n\nconst parsed = JSON.parse(text);\n\nreturn [\n  {\n    json: parsed\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -48
      ],
      "id": "fa62cb91-75f0-4291-9142-8e0c91634013",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2a56ad2ab7ba21a1599ae16d389c8f75face2d6cb5796d675db0a0205a2341f"
  }
}