workflows/rss_workflows.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        -48
      ],
      "id": "ff5de5cf-9291-4052-ac61-9a62145da996",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      url: 'https://www.stat4decision.com/fr/feed/',\n    }\n  },\n  {\n    json: {\n      url: 'https://blog.octo.com/feed/',\n    }\n  },\n    {\n    json: {\n      url: 'https://medium.com/feed/tag/data-engineering',\n    }\n  },\n  {\n    json: {\n      url: 'https://practicaldataengineering.substack.com/feed',\n    }\n  },\n  {\n    json: {\n      url: 'https://towardsdatascience.com/feed',\n    }\n  }\n  \n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -48
      ],
      "id": "4e2889ee-704b-4c5c-892e-fa6e6e9a1fff",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        144,
        -48
      ],
      "id": "b910ce12-ba39-4421-96ec-8215b4d2aa18",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        368,
        0
      ],
      "id": "7c7d570a-c2a7-4d7b-8966-dc9e3c892dd3",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $json.pubDate }}",
        "endDate": "={{ $now }}",
        "units": [
          "hour"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        368,
        -192
      ],
      "id": "3c3bdd8a-0738-4223-ae05-68371a58fce9",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0a4b5ec5-206b-4b4d-af2a-41d3104e212f",
              "leftValue": "={{ $json.timeDifference.hours }}",
              "rightValue": 24,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        592,
        -192
      ],
      "id": "5a05a232-410c-4e77-ae4d-67a0e1b4ea2c",
      "name": "Filter1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e679cada-de81-4974-8d5b-f7882ba47704",
              "name": "link",
              "value": "={{ $('RSS Read').item.json.link }}",
              "type": "string"
            },
            {
              "id": "4db8213e-d251-46fb-a055-0932479440d4",
              "name": "title",
              "value": "={{ $('RSS Read').item.json.title }}",
              "type": "string"
            },
            {
              "id": "b55b4766-f770-4b0b-ba75-1c206f0c255a",
              "name": "contentSnippet",
              "value": "={{ $('RSS Read').item.json.contentSnippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        -192
      ],
      "id": "08f03b31-bb37-4ec5-a79a-776ad1b51c78",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=",
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "={{ $json.contentSnippet }}",
              "timestamp": "=",
              "title": "={{ $json.title }}",
              "url": "={{ $json.link }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1040,
        -192
      ],
      "id": "b93fdf4a-eb9a-4e7c-a2f2-5ec2c5194e9a",
      "name": "Discord",
      "webhookId": "21ac9a67-d7fa-4e07-a75c-4ea0f9b5b5e5",
      "credentials": {
        "discordWebhookApi": {
          "id": "MyS87qp6BitEnlKe",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2a56ad2ab7ba21a1599ae16d389c8f75face2d6cb5796d675db0a0205a2341f"
  }
}